<template>
    <div class="">
        <div class="offer-create-footer">
            <table>
                <tr>
                    <td><i class="ion ion-ios-alert"></i>Need help? Visit our<a href="/faq" style="margin-left:3px">Support Center</a></td>
                </tr>
                <tr>
                    <td><small><a href="/terms-of-use" style="color: #6d7b7b">Terms of Use</a> | <a href="/privacy-policy" style="color: #6d7b7b"> Privacy Policy</a></small></td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>
