<template>
            <div class="">
                <div class="head mb-5 back-popup-btn">
                    <button class="btn btn-block btn-layout-learn" @click="$parent.setupPopup();$parent.contactInstallPopup = !$parent.contactInstallPopup" >Back</button>
                    <h3 class="font-weight-bold">Select Your preferred theme</h3>
                    <div></div>
                </div>

                <div style="margin-top:50px;">
                    <label>Which theme would you like it installed on?</label>
                    <div class="Auto-Install-select" >
                        <select class="form-control errorr common" v-model="form.theme">
                            <option v-for="item in themeOption" :value="item.value+`|`+item.label" >{{item.label}}</option>
                        </select>
                    </div>

                    <label style="margin-top:10px;">Do you have any questions or notes for us?</label>
                    <div class="Auto-Install-select" >
                        <textarea class="form-control" v-model="form.description" placeholder="Enter Description"></textarea>
                    </div>
                    <div class="first-step-btn my-4">
                        <button class="btn btn-block btn-layout-learn" type="button" @click.prevent="sendForm" id="auto-install-btn">Submit</button>

                    </div>
                </div>
            </div>
</template>


<script>
    export default {
        props: ['propsTrans', 'propsUrl', 'propsData'],
        components: {
        },
        data() {
            return {
                varPropsData: JSON.parse(this.propsData),
                varPropsUrl: JSON.parse(this.propsUrl),
                varPropsTrans: '',
                form: {
                    theme:'',
                    description:'',
                },
                themeOption: null,
                processing:false,
            }
        },
        methods: {
            sendForm() {
                let that = this;
                if(that.form.theme.length <=0 || that.form.description <=0){
                    window.ShopifyApp.flashError("Please fill up the form");
                    return false;
                }
                if (this.processing == false) {
                    let data = that.form;
                    data.call_type = "contact";
                    return new Promise((resolve, reject) => {
                        axios({
                            method: 'POST',
                            url: that.varPropsUrl.store,
                            data: data,
                        }).then(response => {
                            that.form.description = "";
                            that.is_new_theme = response.data.is_new_theme
                            this.$parent.contact2Popup();
                            window.ShopifyApp.flashNotice(response.data.data);

                        }).catch(error => {

                        }).finally(function () {
                            that.processing = false;
                        });
                    });
                }
            },
        },
        created() {
            let base = this;
            this.is_new_theme = this.varPropsData.is_new_theme;
            this.themeOption = this.varPropsData.theme;
            this.form.theme = this.varPropsData.main_theme;
            this.themeOption.find(function(a) {
                if(base.form.theme == a.value){
                    base.form.theme = a.value+`|`+a.label;
                }
            })
        }
    }
</script>
<style>
    .btn-disabled {
        font-size: 1.42rem;
        font-weight: 600;
        color: #909090;
        /* background-color: #00a9a2; */
        border-radius: 5px;
        letter-spacing: 0.02em;
        display: inline-block;
        padding: 0.4rem 2.8rem;
        border: 1px solid transparent;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }
</style>
