<template>
            <div class="">
                <div class="head mb-5 back-popup-btn">
                    <button class="btn btn-block btn-layout-learn" @click="$parent.setupPopup();$parent.showInstallPopup = !$parent.showInstallPopup " >Back</button>
                    <h3 class="font-weight-bold">Your preferred theme</h3>
                    <div></div>
                </div>
                <div class="Auto-Install-select">
                    <p>
                        Please create a backup of the theme you are selecting before the installation starts.
                    </p>
                    <select class="form-control errorr common" v-model="form.theme" :disabled="!is_new_theme">
                        <option v-for="item in themeOption" :value="item.value" >{{item.label}}</option>
                    </select>

                </div>

                <div class="Auto-Install-select">
                    <p>
                        Select the theme you want to apply the default CSS/Stylings.
                    </p>
                    <select class="form-control errorr common" v-model="form.css_theme" :disabled="!is_new_theme">
                        <option v-for="(item,index) in cssthemeOption" :value="index" >{{item}}</option>
                    </select>

                </div>
                <div class="first-step-btn my-4">
                    <button v-if="is_new_theme" class="btn btn-block btn-layout-learn" type="button" @click.prevent="sendForm" id="auto-install-btn">Install</button>
                    <button v-else disabled="" class="btn-disabled btn-block btn-layout-learn" type="button">Already Installed</button>

                </div>
            </div>
</template>


<script>
    export default {
        props: ['propsTrans', 'propsUrl', 'propsData'],
        components: {
        },
        data() {
            return {
                varPropsData: JSON.parse(this.propsData),
                varPropsUrl: JSON.parse(this.propsUrl),
                varPropsTrans: '',
                form: {
                    theme:'',
                    css_theme:'',
                },
                is_new_theme:true,
                themeOption: null,
                cssthemeOption: null,
                processing:false,
            }
        },
        methods: {
            sendForm() {
                let that = this;
                if(that.form.theme.length <=0 ){
                    window.ShopifyApp.flashError("Please select the theme");
                    return false;
                }
                if (this.processing == false) {
                    let data = that.form;
                    return new Promise((resolve, reject) => {
                        axios({
                            method: 'POST',
                            url: that.varPropsUrl.store,
                            data: data,
                        }).then(response => {
                            that.is_new_theme = response.data.is_new_theme
                            this.$parent.show2Popup();
                            window.ShopifyApp.flashNotice(response.data.data);
                        }).catch(error => {

                        }).finally(function () {
                            that.processing = false;
                        });
                    });
                }
            },
        },
        created() {
            this.is_new_theme = this.varPropsData.is_new_theme;
            this.cssthemeOption = this.varPropsData.cssthemeOption;
            this.themeOption = this.varPropsData.theme;
            this.form.theme = this.varPropsData.main_theme;
            this.form.css_theme = this.varPropsData.css_theme;
        }
    }
</script>
<style>
    .btn-disabled {
        font-size: 1.42rem;
        font-weight: 600;
        color: #909090;
        /* background-color: #00a9a2; */
        border-radius: 5px;
        letter-spacing: 0.02em;
        display: inline-block;
        padding: 0.4rem 2.8rem;
        border: 1px solid transparent;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }
</style>
