<template>
    <div>
        <div class="oa-main">

            <div v-if="varPropsData.is_new_theme">
                <div class="d-flex align-items-start mb-4">
                    <h1 class="mb-0">Auto Install Setup</h1>
                </div>
                <div class="oa-row">
                    <div class="w-50">
                        <div class="oa-box mb-20">
                            <div class="oa-box-header">
                                <div class="d-flex align-items-center">
                                    <h2 class="text-primary">Pick a Theme :</h2>
                                </div>
                            </div>
                            <div class="oa-box-body">
                                <p class="text-gray-700 mb-3">For Installation, Please check here: <a href="#" class="line-link">Installation Guide</a>.</p>
                                <div class="mb-3">
                                    <select class="form-control" style="max-width: 300px;" v-model="form.theme">
                                        <option v-for="item in themeOption" :value="item.value">{{item.label}}</option>
                                    </select>
                                </div>
                                <a href="#" @click.prevent="sendForm" class="btn">Install</a>
                            </div>
                        </div>

                    </div>
                    <div class="w-50">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <img src="/images/svg/3.svg" style="width:100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="d-flex align-items-start mb-4">
                    <h1 class="mb-0">Uninstall Setup</h1>
                </div>
                <div class="oa-row">
                    <div class="w-50">
                        <div class="oa-box mb-20">
                            <div class="oa-box-header">
                                <div class="d-flex align-items-center">
                                    <h2 class="text-primary">Pick a Theme :</h2>
                                </div>
                            </div>
                            <div class="oa-box-body">
                                <p class="text-gray-700 mb-3">Please reverify the uninstallation steps to remove the application completely. Please check here: <a href="#" class="line-link">Uninstallation Guide</a>.</p>
                                <div class="mb-3">
                                    <select class="form-control" style="max-width: 300px;" v-model="form.theme">
                                        <option v-for="item in themeOption" :value="item.value">{{item.label}}</option>
                                    </select>
                                </div>
                                <a href="#" @click.prevent="sendForm" class="btn">Uninstall</a>
                            </div>
                        </div>
                    </div>
                    <div class="w-50">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <img src="/images/svg/2.svg" style="width:100%;"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="oa-footer">
            <div class="text-center">
                <need-help></need-help>
            </div>
        </div>
    </div>
</template>

<script>

    import NeedHelp from "../NeedHelp";
    export default {
        props: ['propsTrans', 'propsUrl', 'propsData'],
        components: {
            NeedHelp
        },
        data() {
            return {
                varPropsData: JSON.parse(this.propsData),
                varPropsUrl: JSON.parse(this.propsUrl),
                varPropsTrans: '',
                form: {
                    theme:'',
                },
                themeOption: null,
                processing:false,
            }
        },
        methods: {
            init(){
                this.themeOption = this.varPropsData.theme;

                if(!this.varPropsData.is_new_theme) {
                    let strNum = this.varPropsData.main_theme.toString();
                    this.form.theme = _.find(this.themeOption,{value: strNum});
                    this.themeOption = [this.form.theme];
                }
                this.form.theme = this.varPropsData.main_theme;
            },
            sendForm() {
                let that = this;
                if( that.form.theme.length <=0 ) {
                    window.ShopifyApp.flashError("Please select the theme");
                    return false;
                }

                let label = "";
                if(this.varPropsData.is_new_theme){
                    label = "Are you sure you want to install the codes to your theme?";
                }else{
                    label = "Are you sure you want to uninstall the codes from your theme?";
                }

                window.ShopifyApp.Modal.confirm(label, function (result) {
                    if (result) {
                        if (that.processing == false) {
                            let data = that.form;
                            let url = that.varPropsData.is_new_theme ? that.varPropsUrl.store:that.varPropsUrl.uninstall;
                            window.ShopifyApp.Bar.loadingOn();
                            return new Promise((resolve, reject) => {
                                axios({
                                    method: 'POST',
                                    url: url,
                                    data: data,
                                }).then(response => {
                                    that.varPropsData.main_theme = response.data.theme_id;
                                    window.ShopifyApp.flashNotice(response.data.data);
                                }).catch(error => {

                                }).finally(function () {
                                    that.varPropsData.is_new_theme = !that.varPropsData.is_new_theme;
                                    that.processing = false;
                                    window.ShopifyApp.Bar.loadingOff();
                                    that.init();
                                });
                            });
                        }
                    }
                });

            },
        },
        created() {
            this.init();

        }
    }
</script>
<style>

</style>
